body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$small-screen-width: 768px;

$main-background-color: #FAFBFF;
$card-background-color: #FFFFFF;
$button-color: #FF1C44;
$input-placeholder-color: #A9AFD9;
$input-border-color: #D7DBF5;

$text-primary-color: #FF1C44;
$text-default-color: #676F8F;
$text-subtitle-color: #494F66;
$phone-color: #6F7DFF;