.plan__amount-container {
  height: 76px;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 1px 4px rgba(163, 171, 204, 0.06),
    0px 8px 30px rgba(20, 43, 127, 0.1);

  .button {
    width: 168px;
  }

  @media screen and (min-width: $small-screen-width) {
    padding: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 244px;
    height: auto;

    .button {
      width: 244px;
    }

    margin-top: 189px;
    margin-left: 32px;
  }
}

.plan__price {
  @media screen and (max-width: $small-screen-width) {
    p {
      margin: 0;
    }
  }
}

.plan__price-title {
  display: none;

  @media screen and (min-width: $small-screen-width) {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: 700;
    color: $text-subtitle-color;
  }
}

.plan__price-value {
  font-size: 24px;

  @media screen and (min-width: $small-screen-width) {
    margin: 0;
    margin-bottom: 4px;
  }
}

.plan__price-recurrent--small {
  font-size: 10px;

  @media screen and (min-width: $small-screen-width) {
    display: none;
  }
}

.plan__price-recurrent--large {
  display: none;

  @media screen and (min-width: $small-screen-width) {
    display: block;
    font-size: 12px;
    color: $text-default-color;

    margin-bottom: 18px;
  }
}

.plan__amount-divider {
  @media screen and (min-width: $small-screen-width) {
    width: 100%;
    height: 1px;
    background-color: $input-border-color;
    margin-bottom: 24px;
  }
}

.plan__included-container {
  display: none;
  @media screen and (min-width: $small-screen-width) {
    display: block;
    margin-bottom: 32px;
  }
}

.plan__included-text {
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
  color: $text-subtitle-color;
}

.plan__included-list {
  * {
    margin-bottom: 8px;
  }
}

.plan__included-item {
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
    margin-left: 16px;
  }

  color: $text-default-color;
  font-size: 14px;
}
