.button--default {
    height: 56px;
    width: 192px;
    background-color: $button-color;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}